ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.Menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    width:400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #28a9ff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}